In [1]:
import os
import numpy as np
import pandas as pd
%matplotlib inline

In [2]:
os.chdir('C:\\Users\\Admin\\Desktop\\Data Science\\03. Directory\\01. Jigsaw - FSDS\\02. Data\\01. CSV files')

In [3]:
#Read the data set named, Amsterdam.json

data = pd.read_json('amsterdam.json')

In [4]:
data.head()

,host_listings_count,accommodates,bathrooms,bedrooms,guests_included,minimum_nights,number_of_reviews,calculated_host_listings_count,price,latitude,longitude,room_type,instant_bookable
0,1.0,6,1.0,2.0,1,3,4,1,$145.00,52.361173,4.866755,Entire home/apt,f
1,1.0,2,1.0,1.0,1,2,17,1,$88.00,52.370237,4.859507,Entire home/apt,f
2,1.0,2,1.0,1.0,2,2,4,1,$130.00,52.362016,4.866872,Entire home/apt,f
3,2.0,4,1.0,2.0,2,4,2,2,$110.00,52.365826,4.858178,Entire home/apt,f
4,1.0,2,1.0,1.0,1,3,10,1,$115.00,52.364179,4.864885,Entire home/apt,f

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15181 entries, 0 to 15180
Data columns (total 13 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   host_listings_count             15178 non-null  float64
 1   accommodates                    15181 non-null  int64
 2   bathrooms                       15163 non-null  float64
 3   bedrooms                        15169 non-null  float64
 4   guests_included                 15181 non-null  int64
 5   minimum_nights                  15181 non-null  int64
 6   number_of_reviews               15181 non-null  int64
 7   calculated_host_listings_count  15181 non-null  int64
 8   price                           15181 non-null  object
 9   latitude                        15181 non-null  float64
 10  longitude                       15181 non-null  float64
 11  room_type                       15181 non-null  object
 12  instant_bookable                15181 non-null  object
dtypes: float64(5), int64(5), object(3)
memory usage: 1.6+ MB

In [6]:
data.describe()

,host_listings_count,accommodates,bathrooms,bedrooms,guests_included,minimum_nights,number_of_reviews,calculated_host_listings_count,latitude,longitude
count,15178.000000,15181.000000,15163.000000,15169.000000,15181.000000,15181.000000,15181.000000,15181.000000,15181.000000,15181.000000
mean,3.404994,2.917858,1.122832,1.412222,1.516106,2.882551,17.785456,2.934787,52.365353,4.889025
std,11.324173,1.404973,0.356547,0.885127,1.004709,7.215722,34.747999,8.968696,0.015738,0.034901
min,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,52.290308,4.753513
25%,1.000000,2.000000,1.000000,1.000000,1.000000,2.000000,2.000000,1.000000,52.355616,4.865016
50%,1.000000,2.000000,1.000000,1.000000,1.000000,2.000000,7.000000,1.000000,52.365028,4.886344
75%,1.000000,4.000000,1.000000,2.000000,2.000000,3.000000,18.000000,1.000000,52.374829,4.907857
max,106.000000,17.000000,8.000000,10.000000,16.000000,523.000000,496.000000,91.000000,52.426224,5.027689

In [7]:
#Q1. The number of rows in the raw file is ______. => 15181

data.shape

(15181, 13)

In [8]:
#Q2. Is the column named “Bathroom” in the data? => No, the name of the column is 'bathrooms' and not 'Bathroom'

data.columns

Index(['host_listings_count', 'accommodates', 'bathrooms', 'bedrooms',
       'guests_included', 'minimum_nights', 'number_of_reviews',
       'calculated_host_listings_count', 'price', 'latitude', 'longitude',
       'room_type', 'instant_bookable'],
      dtype='object')

In [9]:
data.isnull().sum()

host_listings_count                3
accommodates                       0
bathrooms                         18
bedrooms                          12
guests_included                    0
minimum_nights                     0
number_of_reviews                  0
calculated_host_listings_count     0
price                              0
latitude                           0
longitude                          0
room_type                          0
instant_bookable                   0
dtype: int64

In [10]:
#Q3. Column named as “bedrooms” has 12 missing values? => Yes

data['bedrooms'].isnull().sum()

12

In [11]:
data.dtypes

host_listings_count               float64
accommodates                        int64
bathrooms                         float64
bedrooms                          float64
guests_included                     int64
minimum_nights                      int64
number_of_reviews                   int64
calculated_host_listings_count      int64
price                              object
latitude                          float64
longitude                         float64
room_type                          object
instant_bookable                   object
dtype: object

In [12]:
#Q4. The variable latitude is a numeric variable in the dataframe you just read in? => Yes

data['latitude'].dtypes

dtype('float64')

In [13]:
data['price']

0        $145.00
1         $88.00
2        $130.00
3        $110.00
4        $115.00
          ...
15176     $80.00
15177    $125.00
15178    $435.00
15179     $80.00
15180    $200.00
Name: price, Length: 15181, dtype: object

In [14]:
data['price'] = data['price'].replace({'\$': '', ',': ''}, regex = True).astype(float)

In [15]:
data['price'].dtype

dtype('float64')

In [16]:
#Q5. The average value of price column is? (Round your answer to 3 decimal places using round) => 134.799

avg_price = data['price'].mean()
round(avg_price,3)

134.799

In [17]:
#Q6. The maximum value in the price column is? (Rounded to 1 decimal place, use round) => 3142

max_price = data['price'].max()
round(max_price,1)

3142.0

In [18]:
data['price'].sort_values(ascending = False)

4183     3142.0
2632     2100.0
1537     1600.0
14564    1500.0
10724    1500.0
          ...
14508      22.0
6555       20.0
12831      20.0
5161       20.0
14397      19.0
Name: price, Length: 15181, dtype: float64

In [19]:
#Q7. What is the 99th percentile in the price column? (Rounded to 1 decimal place, use round) => 440.0

#np.percentile(data['price'],99) => 440.0

data['price'].quantile(.99)

440.0

In [20]:
#Q8. Remove all the rows, where values in the price column are more than 440.0. 

#data['price'].loc[(data.price <= 440)].quantile(.90)

data.drop(data[data['price'] > data['price'].quantile(.99)].index, inplace = True)

In [21]:
#What is the 90th percentile now? (Round your answer to 1 decimal point, use round) => 210.0

data['price'].quantile(.90)

210.0

In [22]:
data.isnull().sum()

host_listings_count                3
accommodates                       0
bathrooms                         18
bedrooms                          12
guests_included                    0
minimum_nights                     0
number_of_reviews                  0
calculated_host_listings_count     0
price                              0
latitude                           0
longitude                          0
room_type                          0
instant_bookable                   0
dtype: int64

In [23]:
data = data.dropna()

In [24]:
#Q9. Drop all the missing values in the data. How many rows are now left in the data? => 14998

data.isnull().sum()

host_listings_count               0
accommodates                      0
bathrooms                         0
bedrooms                          0
guests_included                   0
minimum_nights                    0
number_of_reviews                 0
calculated_host_listings_count    0
price                             0
latitude                          0
longitude                         0
room_type                         0
instant_bookable                  0
dtype: int64

In [25]:
data.shape

(14998, 13)

**One of the key points, that folks at your company want to know is, if prices differ as a function of their distance from city centre.**

Write a function to find the distance of all the observations in your data from the city centre in km units. You can assume that the city centre has a latitude = 52.379189 and longitude = 4.899431. You can find out distances using haversine formula, you can read more about it here https://stackoverflow.com/questions/29545704/fast-haversine-approximation-python-pandas (Links to an external site.).

In [26]:
from math import radians, cos, sin, asin, sqrt

In [27]:
def haversine(lon1, lat1, lon2, lat2):
    """
    Calculate the great circle distance between two points on the earth (specified in decimal degrees)
    """
    # convert decimal degrees to radians 
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])
    # haversine formula 
    dlon = lon2 - lon1 
    dlat = lat2 - lat1 
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a)) 
    km = 6367 * c
    return km

In [28]:
for index, row in data.iterrows():
    data.loc[index, 'd_centre'] = haversine(4.899431, 52.379189, row['longitude'], row['latitude'])

In [29]:
data.head()

,host_listings_count,accommodates,bathrooms,bedrooms,guests_included,minimum_nights,number_of_reviews,calculated_host_listings_count,price,latitude,longitude,room_type,instant_bookable,d_centre
0,1.0,6,1.0,2.0,1,3,4,1,145.0,52.361173,4.866755,Entire home/apt,f,2.987199
1,1.0,2,1.0,1.0,1,2,17,1,88.0,52.370237,4.859507,Entire home/apt,f,2.885443
2,1.0,2,1.0,1.0,2,2,4,1,130.0,52.362016,4.866872,Entire home/apt,f,2.919191
3,2.0,4,1.0,2.0,2,4,2,2,110.0,52.365826,4.858178,Entire home/apt,f,3.168346
4,1.0,2,1.0,1.0,1,3,10,1,115.0,52.364179,4.864885,Entire home/apt,f,2.876726

In [30]:
#Q10. Once you have applied the haversine transform, create a new column named “d_centre”, arrange your data by distance in 
#ascending order. The second booking in this sorted list has a price of (round to 1 decimal place) => 41.0

data.sort_values(by = 'd_centre', ascending = True).head()

,host_listings_count,accommodates,bathrooms,bedrooms,guests_included,minimum_nights,number_of_reviews,calculated_host_listings_count,price,latitude,longitude,room_type,instant_bookable,d_centre
3158,1.0,2,1.5,1.0,1,1,0,1,85.0,52.378546,4.900775,Private room,f,0.115801
3168,1.0,4,1.0,1.0,1,1,0,1,41.0,52.378850,4.901433,Shared room,f,0.140946
2639,1.0,4,1.0,1.0,2,3,27,1,159.0,52.379089,4.897293,Entire home/apt,f,0.145468
3010,4.0,2,1.0,1.0,1,1,4,4,150.0,52.378549,4.896679,Private room,t,0.199767
1860,1.0,2,1.0,1.0,1,1,9,1,120.0,52.378398,4.896674,Private room,f,0.206638

In [31]:
data['price'][(data['d_centre'] < 1) & (data['room_type'] == 'Private room')].count()

298

In [32]:
#Q11. The average price of Private Rooms that are within 1 km from city centre is (Round to 1 decimal place) => 118.1

np.round(data['price'][(data['d_centre'] < 1) & (data['room_type'] == 'Private room')].mean(),1)

118.1

In [33]:
y = data['price']

In [34]:
X = data.drop("price",axis = 1)

In [35]:
X = pd.get_dummies(X)

In [36]:
X.head()

,host_listings_count,accommodates,bathrooms,bedrooms,guests_included,minimum_nights,number_of_reviews,calculated_host_listings_count,latitude,longitude,d_centre,room_type_Entire home/apt,room_type_Private room,room_type_Shared room,instant_bookable_f,instant_bookable_t
0,1.0,6,1.0,2.0,1,3,4,1,52.361173,4.866755,2.987199,1,0,0,1,0
1,1.0,2,1.0,1.0,1,2,17,1,52.370237,4.859507,2.885443,1,0,0,1,0
2,1.0,2,1.0,1.0,2,2,4,1,52.362016,4.866872,2.919191,1,0,0,1,0
3,2.0,4,1.0,2.0,2,4,2,2,52.365826,4.858178,3.168346,1,0,0,1,0
4,1.0,2,1.0,1.0,1,3,10,1,52.364179,4.864885,2.876726,1,0,0,1,0

In [37]:
#Q12. Create a predictor matrix X, after creating dummies for categorical data. How many columns X will have? => 16 variables

X.shape

(14998, 16)

In [38]:
import sklearn.model_selection as model_selection
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, test_size = 0.3, random_state = 200)

In [39]:
#Q13. Partition your data into train and test sets, Use a random_state=200.(sklearn.model_selection.train_test_split()) to 
#split your data into 70% train set and 30% test set. #How many records will be there in train and test set?

print("Train_Sample =",X_train.shape[0], "\nTest_Sample =",X_test.shape[0])

Train_Sample = 10498
Test_Sample = 4500

#### Ensemble regressor model using a RandomForestRegressor

Now create an ensemble regressor model, use a RandomForestRegressor, to build and finalize a model. Do a grid search on n_estimators, with a grid of [30,40,50,60,70,...,600]. Keep a random_state of 200 (for reproducibility of results). Use OOB to tune. Keep max_features=”sqrt”

In [40]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
#clf = RandomForestClassifier(n_estimators = 80,oob_score = True,n_jobs = -1,random_state = 200)

In [ ]:
#clf.fit(X_train,y_train)

In [ ]:
#clf.oob_score_

In [ ]:
for w in range(30,600,10):
    clf = RandomForestClassifier(n_estimators = w, oob_score = True, n_jobs = -1, random_state = 200, max_features = 'sqrt')
    clf.fit(X_train,y_train)
    oob = clf.oob_score_
    print('For n_estimators = '+str(w))
    print('OOB score is '+str(oob))
    print('************************')

For n_estimators = 30
OOB score is 0.06877500476281197
************************
For n_estimators = 40
OOB score is 0.07268051057344256
************************
For n_estimators = 50
OOB score is 0.07391884168413031
************************
For n_estimators = 60
OOB score is 0.07696704134120785
************************
For n_estimators = 70
OOB score is 0.0782053724518956
************************
For n_estimators = 80
OOB score is 0.08039626595542008
************************
For n_estimators = 90
OOB score is 0.07991998475900171
************************
For n_estimators = 100
OOB score is 0.08163459706610783
************************
For n_estimators = 110
OOB score is 0.08087254715183845
************************
For n_estimators = 120
OOB score is 0.08201562202324253
************************
For n_estimators = 130
OOB score is 0.08153934082682415
************************

In [ ]:
#Finalize 170 trees
clf = RandomForestClassifier(n_estimators = 170,oob_score = True,n_jobs = -1,random_state = 400)

In [ ]:
clf.fit(X_train,y_train)

In [ ]:
clf.oob_score_

In [ ]:
clf.feature_importances_

In [ ]:
imp_feat = pd.Series(clf.feature_importances_,index = X.columns.tolist())

In [ ]:
imp_feat.sort_values(ascending = False)

In [ ]:
imp_feat.sort_values(ascending = False).plot(kind = 'bar')